{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle catégorie</h1>

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">retour à la liste</a>
{% endblock %}
