{% extends 'admin/base.html.twig' %}

{% block title %}Gérer les produits{% endblock %}

{% block body %}
    <h1>Gérer les produits</h1>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_product_index') }}">Retour à la liste</a>

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
