{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('admin/product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}">retour à la liste</a>
{% endblock %}
